name: Publish

on:
  push:
    tags:
      - v*

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - name: Set up Node.js
        uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
      - name: Install dependencies
        run: npm ci
      - name: Publish
        run: npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
